#tasks {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  #tasks-completed {
    height: 2rem;
    width: 64rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #tasks-completed__button {
    height: 2rem;
    width: 8rem;

    background-color: #283845;
    color: #f2d492;

    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #tasks-separator__line {
    height: 1px;
    width: calc(100% - 8rem);

    margin: 0 10px;

    background-color: #f2d492;
  }
}
