#initial-modal {
  position: fixed;
}

#initial-modal__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
  }
  p {
    font-size: 1rem;
    color: #23272a;
    margin: 0.5rem;
    font-weight: normal;
  }
  .initial-modal__author {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }
}
