#toolbar {
  grid-row: header-start/header-end;
  height: 5rem;
  width: 100%;

  background-color: #283845;
  color: #e0e0e0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  z-index: 100;
}

.toolbar-input__container{
    width: 30rem;
}


.toolbar-input__task,
.toolbar-input__task:focus {
  height: 100%;
  height: 3rem;

  background-color: #202c39;
  color: #f2d492;

  border-radius: 8px 0 0 8px;
  border: #f2d492 solid 2px;
  border-right: none;

  padding: 8px;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.toolbar-input__confirm {
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2d492;
  color: #202c39;

  border: none;
  border-radius: 8px;
  border: solid 2px #f2d492;

  transition: 0.3s;

  &:hover {
    background-color: #202c39;
    color: #f2d492;
  }
}

.toolbar-sort__container{
  position: absolute;
  right: 3rem;

  width: 8rem;
  min-width: fit-content;
  height: 2.75rem;

  box-sizing: border-box;
  color: #f2d492;
  background-color: #202c39;

  border-radius: 8px;
  border: #f2d492 solid 2px;
}

.toolbar-sort__select{
  height: 100%;
  color: #f2d492;
  background-color: #202c39;

  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.toolbar-sort__icon{
  height: 100%;
  width: 2rem;

  background-color: transparent;
  border: none;
  border-left: #f2d492 solid 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2d492;

  padding: 0;
}